.app_navbar {
  background-color: #000; /* ensures it's always black */
}

.app_Darknavbar {
  background: var(--nav-bg);
  backdrop-filter: blur(10px);
}

/* .app-header {
  display: none;
} */
.nav_link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--white);
}

.nav_link:hover {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: #22ddd2;
}
.nav_link:not(.nav_right_btns .nav_link)::after,
.nav_link.active:not(.nav_right_btns .nav_link.active)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: var(--white);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  z-index: 2;
}
.nav_link.active:not(.nav_right_btns .nav_link.active) {
  color: #22ddd2;
}

.nav_link:not(.dropdown_menu .nav_link):hover::after,
.nav_link.active::after {
  width: 25px !important;
  background-color: #22ddd2 !important;
}
.nav_dropdown {
  position: relative;
}
.dropdown_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  bottom: 0;
  transform: translateY(80px);
  visibility: hidden;
  transition: all 0.4s;
  min-width: 150px;
  border-radius: 6px;
  z-index: 10;
}
.dropdown_menu .nav_link {
  padding: 5px 20px;
  transition: all 0.4s;
  border-radius: 6px;
  color: var(--black); /* ✅ Add this line */
}

.dropdown_menu .nav_link:hover {
  background: var(--gradient-purple);
  color: var(--white);
}

.nav_dropdown:hover .dropdown_menu {
  transform: translateY(67px);
  visibility: visible;
}
.nav_dropdown_item a {
  color: var(--black);
}

.theme_switch,
.nav_right_btns .nav_link {
  /* border: 1px solid #fff; */
  box-shadow: 0px 0px 11px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 0.4s;
}
/* .mobile_nav_items a,
.mobile_nav_items button {
  transition: all 0.4s;
  animation: slide-up 0.6s 1;
} */

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1023px) {
  .theme_switch,
  .nav_right_btns .nav_link {
    border: 0;
    box-shadow: none;
  }
}
@media screen and (max-width: 1279px) {
  .nav_link {
    font-size: 13px;
  }
}
